body{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title{
  background-color: rgb(146, 179, 241);
  text-align: center;
  padding: 10px;
  margin: 0 auto;
}

.description{
  padding: 0px 10px;
}

.category{
  font-size: 16px;
  font-weight: bold;
}